<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings> 
        <add key="SourceFolder" value="C:\FileMonitor\Source"/>
		<add key="DestinationFolder" value="C:\FileMonitor\Destination"/>
		<add key="LogFolder" value="C:\FileMonitor\Logs"/>
    </appSettings>
</configuration>